// Colors
$primary-color: #ff385c;
$secondary-color: #333;
$background-color: white;
$profile-icon-color: #333;
$dot-bg-color: #b4b1b1;
$dot-active-bg-color: white;
$carousel-button-bg-color: rgba(180, 177, 177, 0.9);
$carousel-button-hover-bg-color: rgba(255, 255, 255, 1);

// Shadows
$header-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
$button-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

// Dimensions - Carousel
$carousel-height: 280px;
$carousel-image-height: 280px;
$carousel-min-width-lg: 260px;
$carousel-min-width-md: 300px;
$carousel-min-width-sm: 350px;
$carousel-gap: 20px;
$carousel-button-size: 35px;
$carousel-button-size-sm: 30px;
$dot-gap: 6px;
$dot-size: 7px;
$dot-size-sm: 6px;

// Border Radius
$border-radius: 12px;

// Button Sizes
$button-size: 30px;

// Dimensions - Profile Icon
$profile-icon-size-lg: 35px;
$profile-icon-size-md: 30px;
$profile-icon-size-sm: 25px;

// Dimensions - Logo
$logo-height-lg: 100px;
$logo-height-md: 45px;
$logo-height-sm: 40px;

// Gaps for Navigation
$nav-gap-lg: 20px;
$nav-gap-md: 15px;
$nav-gap-sm: 10px;
$nav-gap: 20px;

// Font Sizes
$font-size-large: 24px;
$font-size-small: 14px;
$nav-font-size-lg: 16px;
$nav-font-size-md: 14px;
$nav-font-size-sm: 12px;

// Padding for Header
$header-padding-md: 10px 20px;
$header-padding-sm: 10px;

// Dimensions - Navigation Items
$nav-item-width-lg: 120px;
$nav-item-width-md: 100px;
$nav-item-width-sm: 80px;
$nav-item-width-xs: 70px;

// Padding for Navigation Items
$nav-item-padding: 10px;

// Icon and Label
$icon-size: 24px;
$icon-margin-bottom: 5px;
$label-font-size: 12px;

// Home Component
$home-padding: 20px;
$home-gap: 40px;
$home-title-margin-bottom: 30px;
